body {
  background-image: url("../assets/img/musicSheetBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#mainContainer {
  display: grid;
  grid-template: 75px 50px repeat(7, 1fr) / repeat(12, 1fr);
  grid-gap: 5px;
}
nav {
  grid-column: 1 / last;
  grid-row: 1;
  justify-self: center;
}
nav p {
  display: inline-block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 100px;
  border: 1px outset black;
  margin: 0px -2px;
  background-color: rgb(214, 204, 191);
}

header {
  text-align: center;
  grid-column: 6 / 8;
}
.profilePic{
  height: 150px;
  width: auto;
  justify-self: center;
}

#ed p, #felipe p, #chloie p, #conor p, #jeff p{
  font-size: 18px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}
#ed img, #chloie img, #jeff img{
  float: left;
  padding-right: 15px;
}

#felipe img, #conor img{
  float: right;
  padding-left: 15px;
}

#ed{
grid-row: 3;
grid-column: 2 / 6;
padding-bottom: 50px;
}

.octocat{
  width: 25px;
  height: auto;
}

#felipe{
grid-row: 3;
grid-column: 8 / 12;
}

#chloie{
grid-row: 4;
grid-column: 2 / 6;
}

#conor{
grid-row: 4;
grid-column: 8 / 12;
}

#jeff{
grid-row: 5;
grid-column: 2 / 6;
}
