body {
  background-color: wheat;
}

#mainContainer {
  display: grid;
  grid-template: 75px 50px repeat(7, 1fr) / repeat(12, 1fr);
  grid-gap: 5px;
}
nav {
  grid-column: 1 / last;
  grid-row: 1;
  justify-self: center;
}
nav p {
  display: inline-block;
  font-size: 20px;
  padding: 10px 100px;
  border: 5px outset black;
  margin: 0px -2px;
  background-color: peachpuff;
}
header {
  text-align: center;
  grid-column: 6 / 8;
}
.biography img{
  height: 150px;
  width: auto;
  justify-self: center;
}
#ed{
grid-row: 3;
grid-column: 1 / last;
}
#felipe{
grid-row: 4;
grid-column: 1 / last;
}
#chloie{
grid-row: 5;
grid-column: 1 / last;
}
#conor{
grid-row: 6;
grid-column: 1 / last;
}
#jeff{
grid-row: 7;
grid-column: 1 / last;
}
