body {
  background-image: url("../assets/img/musicSheetBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#mainContainer {
  display: grid;
  grid-template: 75px 100px 250px 250px 1fr/ repeat(12, 1fr);
  grid-gap: 5px;
}

nav {
  grid-column: 1 / last;
  grid-row: 1;
  justify-self: center;
}
nav p {
  display: inline-block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 100px;
  border: 1px outset black;
  margin: 0px -2px;
  background-color: rgb(214, 204, 191);
}

#mainContainer * h1{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

section img {
  width: 500px;
  height: auto;
}

#musicSheetWrapper{
  grid-column: 5 / 9;
  grid-row: 3;
}

#item_0 {
  grid-column: 6 / 7;
  grid-row: 3;  
}

#item_1 {
  grid-column: 7 / 8;
  grid-row: 3;  
}

#item_2 {
  grid-column: 6 / 7;
  grid-row: 4;  
}

#item_3 {
  grid-column: 7 / 8;
  grid-row: 4;  
}