#mainContainer {
  grid-template-rows: 50px 100px  1fr;
}

section img {
  width: 500px;
  height: auto;
}

img:hover {
  opacity: .5;
  cursor: pointer;
}

#musicSheetWrapper{
  grid-column: 1 / last;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap:15px;
  justify-content: center; 
}

#item0 {
  grid-column: 2 / 3;
  grid-row: 1; 
  height: 99%;
  background-color: black; 
}

#item1 {
  grid-column: 2 / 3;
  grid-row: 2;
  height: 99%;
  background-color: black;  
}

#item2 {
  grid-column: 4 / 5;
  grid-row: 1;  
  height: 99%;
  background-color: black; 
}

#item3 {
  grid-column: 4 / 5;
  grid-row: 2;  
  height: 99%;
  background-color: black; 
}