#mainContainer {
  grid-template-rows: 50px 50px 250px 275px 1fr;
}

.musicSheet {
  grid-row: 3;
  grid-column: 4 / 8;
  /* justify-self: center; */
  height: 250px; 
  width: 500px;
}

.musicSheet img{
  width: 500px;
  height: auto;
}

.logDisplay {
  grid-row: 3;
  grid-column: 8 /11;

}
#log {
  margin-left: 5px;
  height: 245px;
  width: 230px;
  background-color: #fcfcff;
}

#keyboardInputContainer {
  grid-column: 1 / last;
  grid-row: 5;
  justify-self: center;
}
#pianoKeyboard {
  grid-column: 2 / 12;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(8, 8%);
  grid-gap: 5px;
  height: 100%;
  justify-content: center;
}
.pianoKeys {
  background-color: rgb(235, 229, 181);
  border: 1px outset rgb(214, 208, 164);
}
.played {
  transition: all .25s ease;
  transform: scale(.85);
  background-color:red;
  border: 3px outset black;
}
#cKey {
  grid-column: 1 / 2;
}

#dKey {
  grid-column: 2 / 3;
}
#eKey {
  grid-column: 3 / 4;
}
#fKey {
  grid-column: 4 / 5;
}
#gKey {
  grid-column: 5 / 6;
}
#aKey {
  grid-column: 6 / 7;
}
#bKey {
  grid-column: 7 / 8;
  text-align: left;
}
#highCKey {
  grid-column: 8 / 8;
}

.letterInsideKey {
  display: inline-block;
  margin: 200px 35% 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid black;
}

#bKey p {
margin: 200px 19% 0px;
}