body {
  background-image: url("../assets/img/musicSheetBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#mainContainer {
  display: grid;
  grid-template: 75px 50px 250px 275px 1fr / repeat(12, 1fr);
  grid-gap: 5px;
}

nav {
  grid-column: 1 / last;
  grid-row: 1;
  justify-self: center;
}

nav p {
  display: inline-block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 100px;
  border: 1px outset black;
  margin: 0px -2px;
  background-color: rgb(214, 204, 191);
}

header {
  text-align: center;
  grid-column: 6 / 8;
}

.musicSheet {
  grid-row: 3;
  grid-column: 3 / 8;
  /* justify-self: center; */
  height: 250px; 
  width: 500px;
}

.musicSheet img{
  width: 500px;
  height: auto;
}

.logDisplay {
  grid-row: 3;
  grid-column: 9 /12;

  /* margin-left: 150px;
  margin-top: 50px; */
}
#log {
  height: 250px;
  width: 175px;
}

#keyboardInputContainer {
  grid-column: 1 / last;
  grid-row: 5;
  justify-self: center;
}
#pianoKeyboard {
  grid-column: 2 / 12;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(8, 8%);
  grid-gap: 5px;
  height: 100%;
  justify-content: center;
}
.pianoKeys {
  background-color: rgb(235, 229, 181);
  border: 1px outset rgb(214, 208, 164);
}
.played {
  background-color:red;
  border: 3px outset black;
}
#cKey {
  grid-column: 1 / 2;
}

#dKey {
  grid-column: 2 / 3;
}
#eKey {
  grid-column: 3 / 4;
}
#fKey {
  grid-column: 4 / 5;
}
#gKey {
  grid-column: 5 / 6;
}
#aKey {
  grid-column: 6 / 7;
}
#bKey {
  grid-column: 7 / 8;
}
#highCKey {
  grid-column: 8 / 8;
}
